<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" (click)="themeService.setLight()">Set Light Theme</a>
      <a mat-list-item href="#" (click)="themeService.setDark()">Set Dark Theme</a>
      <a mat-list-item href="#" (click)="themeService.toggle()">Toggle Theme</a>
      <a mat-list-item href="#" >
        <theme-slide-toggle></theme-slide-toggle>

      </a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ngMatThemingLib</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <p>
      <theme-slide-toggle></theme-slide-toggle>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>